DB_HOST: # 👈 service name (IMPORTANT)
DB_ADRR: sqlserver:1433 # 👈 internal container port
DB_USER: username
DB_PASSWORD: YourSuperStrong!Passw0rd
DB_NAME: GOTask-is-Hard # change if needed
Secret: MyJWTsecretNeedToStoreInEn3