DB_HOST: sqlserver# 👈 service name 
DB_ADRR: sqlserver:1433 # 👈 internal container port
DB_USER: sa
DB_PASSWORD: YourStrong!Passw0rd
DB_NAME: GOTask-is-Hard # change if needed
Secret: MyJWTsecretNeedToStoreInEn3

NAME:"Ryuk-Jayant"
